<!doctype html>
<html lang="en">
<head>
  <title>Inicio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.0-beta1       https://bootswatch.com/cosmo/    -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>

    <!-- bs5-navbar-minimal-a   -->
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="/" aria-current="page">Inicio</a>
            <a class="nav-item nav-link" href="/libros">Libros</a>
            <a class="nav-item nav-link" href="/nosotros">Nosotros</a>
            <a class="nav-item nav-link" href="/admin/login">Login</a>
        </div>
    </nav>

    

    <div class="container">