{% include 'sitio/cabecera.html' %}


    <!-- bs5-jumbotron-default -->
    <div class="p-5 bg-light">
            <div class="container">
                <h1 class="display-3">Bienvenid@</h1>
                <p clas="lead"><span>La vista debe aprender de la razón</span> (Johannes Kepler)</p>
                <hr class="my-2">
                <button class="btn btn-success" href="/libros" role="button">Ver libros disponibles</button>
            </div>
    </div>


{% include 'sitio/pie_pagina.html' %}